body{
    background-color: black;
}
.navbar{
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
}
a img{
    width: 36px;
    
}

h2{
    margin-top: 41px;
}

#parrafos i{
    color: white;
    background: #0dcaf0;
    text-align: center;
    padding-inline: 197px;
    padding-top: 5px;
    padding-bottom: 5px;
  
}
#parrafos p{
    text-align: justify;
    text-justify: inter-word;
    font-size: small;
    text-align: justify;
  }

.col-md-3{
    color: white;
    font-size: x-small;
    background: #0dcaf0;
    width: 300px;
    margin: auto;
  }

.col-md-3 img{
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
  }
  
#cardtexto{
    margin-left: 15px;
    margin-right: 15px;
  }

.nopadding {
    padding: 0;
    margin: 0;
 }


footer{
    margin-top: 30px;
    background: #0dcaf0;  
}

footer .col-md-4{
    padding: 15px;
    padding-bottom: 5px;
    padding-left: 200px;
}
